{% extends 'registration/base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %} Email Confirmation Error {% endblock title %}

{% block auth_content %}
            {% if key %}
                <h1> {% translate "Activation Error. Please try again." %}</h1>
            {% else %}
                <h1> {% translate "Re-activate your Email Below." %}</h1>
            {% endif %}
            <form method='POST' action=''>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="primaryAction" type="submit">{% translate "Resend Activation" %}</button>
            </form>
{% endblock auth_content %}
