{% extends "registration/base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}Password Reset Confirmation{% endblock title %}


{% block auth_content %}
<h1> {% translate "Password Reset Confirmation" %}</h1>

{% if validlink %}

<p>{% translate 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="primaryAction" type="submit">{% translate "Confirm password" %}</button>
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock auth_content %}