{% extends "registration/base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}


{% block auth_content %}
<h1> {% translate "Password Reset" %}</h1>

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="primaryAction" type="submit">{% translate "Reset my password" %}</button>
</form>

{% endblock auth_content %}