[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pillow = "*"
django-debug-toolbar = "*"
whitenoise = {extras = ["brotli"], version = "*"}
djangorestframework = "*"
django-cors-headers = "*"
django-import-export = "*"
django-rosetta = "*"
django-tinymce = "*"
django-multiselectfield = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-braces = "*"
reportlab = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
django-filter = "*"

[dev-packages]
docutils = "*"
django-extensions = "*"
faker = "*"

[requires]
python_version = "3.11"
