{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="row img_background my_class_2">
        <div class="container mydata">
            <h1>Registration is allowed only in
                <span style="text-decoration: underline">January</span>,
                <span style="text-decoration: underline">February</span> and
                <span style="text-decoration: underline">March</span>
            </h1>
        </div>
    </div>
{% endblock %}