{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> The following files should be provided </h1>
    <h3> In case of an update of the file the current file should first be deleted. </h3>
    <ul>
        <li>Competitions</li>
        <ul>
            <li>Competitions.docx</li>
        </ul>
        <li>Training Department</li>
        <ul>
            <li>ITC.docx</li>
            <li>PTC.docx</li>
            <li>WoodBadge Course.docx</li>
            <li>ALT.docx</li>
            <li>LT.docx</li>
            <li>SL Special Event.docx</li>
        </ul>
        <li>Youth Programme Department</li>
        <ul>
            <li>Investiture.docx</li>
            <li>Badge Camp.docx</li>
            <li>Park Holiday.docx</li>
            <li>PLC.docx</li>
            <li>Rover Mate.docx</li>
        </ul>
        <li>Celebrations</li>
        <ul>
            <li>Founderee.docx</li>
        </ul>
    </ul>
{% endblock %}