{% extends 'base.html' %}

{% block title %}Legal Documents{% endblock title %}

{% block content %}
    <div class="img_background">
        <div class="container my_padding">
            {% if not ligal_documents %}
                <div class="row">
                    <div class="col">
                        <h3 class="text-center">There are no Legal Documents in the portal yet!</h3>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col">
                        <h1 class="text-center">Legal Documents</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table id="mytable" class="table detail-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Document Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in ligal_documents %}
                                <tr>
                                    <td>{{forloop.counter}}.</td>
                                    <td><a href="{{ i.file.url }}">{{ i.doc_name|upper }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}