{% extends 'base.html' %}

{% block title %}{{ comingevent.event_type }} {{ comingevent.county }}{% endblock title %}

{% block content %}
<div class="img_background">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ comingevent.county }} {{ comingevent.event_type }}<br/>

                    {% if comingevent.enable_registration and comingevent.registration_deadline_at %}
                        <a href="{% url 'core:event_r' %}"> (Register to Attend)</a>
                    {% else %}
                    {% endif %}</h1>
            </div>
            <div class="col-md-8 offset-md-2 table-responsive">
                <table class="table detail-table c">
                    <tbody>
                        <tr>
                            <td><strong>Venue</strong></td>
                            <td><em>{{ comingevent.venue_name }}</em></td>
                        </tr>
                        <tr>
                            <td><strong>Start Date</strong></td>
                            <td><em>{{ comingevent.start_date }}</em></td>
                        </tr>
                        <tr>
                            <td><strong>End Date</strong></td>
                            <td><em>{{ comingevent.end_date }}</em></td>
                        </tr>
                        <tr>
                            <td><strong>Event Coordinators</strong></td>
                            <td>{% for i in comingevent.event_coordinators.all %}
                            <em><strong>{{forloop.counter}}.&nbsp&nbsp</strong>{{ i.get_short_name }}  ({{ i.phone_number }})</em><br>
                            {% endfor %}</td>
                        </tr>
                    </tbody>
                </table>
            </div><br/><br/>
            <div class="col-md-12">
                <h3>Requirements</h3>
            </div>
            <div class="col-md-12">{{ comingevent.requirement|safe }}</div>
        </div>
        <div class="col-md-12">
            <p>The marker on the map indicates the exact <strong>venue</strong> in google map.</p>
        </div>
        <div id="map"></div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        function initMap() {
        const myLatLng = {lat: {{ comingevent.venue.latitude }}, lng: {{ comingevent.venue.longitude }}};
        const map = new google.maps.Map(
            document.getElementById('map'), {zoom: 15, center: myLatLng});
        const marker = new google.maps.Marker({position: myLatLng, map: map, title: '{{ comingevent.venue_name }}'});
        }
    </script>
    <script async defer src="{{ GOOGLE_MAP_KEY }}"></script>
{% endblock %}