{% extends 'list.html' %}

{% block title %}Scout Centers{% endblock title %}

    {% block no-table %}
        There are no scouts centers in the portal yet!
    {% endblock %}

    {% block table-heading %}
        Scout Centers
    {% endblock %}

    {% block table %}
        <thead>
            <tr>
                <th>Name</th>
                <th>County</th>
                <th>Camp Warden</th>
                <th>Email</th>
                <th>Office Number</th>
            </tr>
        </thead>
        <tbody>
            {% for i in scouts_centers %}
            <tr>
                <td><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></td>
                <td>{{ i.sub_county.county }}</td>
                <td>{{ i.camp_warden }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    {% endblock %}