<script>
    const config = {toImageButtonOptions: {format: 'png', filename: 'KSA eScout {{ title }} Stats', height: 1000,  width: 1200, scale: 1}, responsive: true, displaylogo: false, modeBarButtonsToRemove: ['autoScale2d', 'hoverClosestCartesian', 'hoverCompareCartesian', 'zoom2d', 'pan2d', 'select2d', 'lasso2d', 'toggleSpikelines']};
    const region_layout = {barmode: 'group', title: '{{ title }} per Region', yaxis: {title: '{{ title | upper }}'}, xaxis: {title: 'REGIONS'}, showlegend: true, legend: {x: 0.1, y: 1}};
    const county_layout = {barmode: 'group', title: '{{ title }} per County', yaxis: {title: '{{ title | upper }}'}, xaxis: {title: 'COUNTIES'}, showlegend: true, legend: {x: 0.1, y: 1}};
    const sub_county_layout = {barmode: 'group', title: '{{ title }} per SubCounty', yaxis: {title: '{{ title | upper }}'}, xaxis: {title: 'SUB-COUNTIES'}, showlegend: true, legend: {x: 0.1, y: 1}};
    const Pie_layout = [{height: 700, width: 700}];
</script>